.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
renv
upload_after_render.sh
_freeze
_publish.yml
_site
.Rprofile
blokad_ru_pp.rds
blokad_ru_pp_info.rds
blokad_trimmed.txt
pp_ru_subs.csv.gz
output_df_llama32.rds
quackingllama.duckdb
quackingllama_akdengi_saiga_gemma2.duckdb
quackingllama_gemma3.duckdb
quackingllama_legacy
quackingllama_llama3_2.duckdb
