base_folder.txt
prigozhin_photo_transcribed
prigozhin_audio_transcribed_large
prigozhin_audio_transcribed_translated_large
prigozhin_hat_folder.txt
telegram_concordgroup_official_photo_transcribed
telegram_concordgroup_official_audio_transcribed_translated_large
telegram_concordgroup_official_audio_transcribed_large
prigozhin_hat_photo_transcribed
data
